/* kodowanie znakow */
@charset "utf-8";
/* CSS Document */

/* reset marginesów i dopełnień */
html, body, ul, li { margin: 2; padding: 0; }


/* reset wysokości linii i fontu */
h1, h2, h3, h4, ul, li, ol, p { margin:0; padding:0; font-size: 1em;
line-height: 2.0em; }


/* ustawienia ogólne */
body { background: #ffffff;
font: 0.876em/2.0em arial, tahoma, verdana, sans-serif; }


/* SZEROKOŚĆ STRONY */
body .content { width: 980px; margin: 0 auto; overflow: hidden; }


/* wygląd czcionki dla nagłówków - p, linków - a, listy - li. */
p, a, li { color: #304055; font-size: 1.4em; font-family: arial, tahoma, verdana, sans-serif; }


/* STYL DLA HEADER I NAV */

/* pozycjonowanie relatywne */
/* szary kolor tła */
/* U dołu na całej szerokości sekcji header obramowanie w kolorze czerwonym. */
header { position: relative; background: #f9f9f9; border-bottom: 3px solid #e90000; }
/* zawartość tego bloku wyśrodkujemy */
header .content { overflow: hidden; text-align: center; }

/* nadania stylu dla logo wewnatrz header-a, zwiekszenie czcionki */
header h1 { position: relative; }
/*Padding zwiększa odległość wewnątrz danego bloku 
 margin na zewnątrz
 text-transform: uppercase sprawia, że wszystkie litery logo będą duże */
header h1 a { display: block; padding: 10px; margin-top: 10px; font-size: 3.45em; outline: none; clear: both; text-transform: uppercase; text-decoration: none; }

/* Nav: Menu: ustalamy deklaracje po kolei dla poszczególnych bloków */
/*Ustawienie float (opływania) przyciski menu pojawią się po lewej stronie względem elementów sąsiadujących.*/
header nav { clear: both; }
header nav ul { overflow: hidden; position: relative; list-style: none; float: left; }
header nav ul li { float: left; }
header nav ul li a { display: block; padding: 17px 0px 9px 0px; margin-right: 2px; width: 241px; height: 26px; text-align: center; text-decoration: none; outline: none; background: #e0e0e0; }
/* zmiana tła po najechaniu na przycisk kursorem myszki */
header nav ul li a:hover { background: #ffffff; }

/*STYL DLA MAIN*/

#main { position: relative; }
#main .content { margin-bottom: 25px; }
#main .text { padding: 10px 80px 20px 80px; margin: 0px 0px 20px 0px; background: #304055; border: 3px solid #202a38; }

#main .text h3 { color: #e0e0e0; font-weight: 100; font-size: 2.4em; }
#main .text p { color: #e0e0e0; }

#main .left { float: left; width: 48%; }
#main .right { float: right; width: 48%; }
#main section article { overflow: hidden; padding: 20px;
background: #ffffff; border: 1px solid #e0e0e0; }

#main h2 { margin-bottom: 10px; color: #e90000; font-size: 18px;
padding: 5px; border: 1px solid #e0e0e0; background: #ffffff;

#main article a.wiecej { margin-top: 10px; font-weight: bold;
float: right; }
#main article a:hover { text-decoration: none; }

#main h4 { margin-bottom: 30px; color: #304055; font-size: 1.8em; }

#main ul { float: left; margin: 13px 0px 12px 15px; }
#main ul li { text-align: left; padding-left: 10px; }




