@charset "utf-8";
/* CSS Document */

/* reset marginesów i dopełnień */
html, body, ul, li { margin: 0; padding: 0; }

/* reset wysokości linii i fontu */
h1, h2, h3, h4, ul, li, ol, p { margin:0; padding:0; font-size: 1em;
line-height: 1.6em; }

/* ustawienia ogólne */
body { background: #ffffff;
font: 0.625em/1.5em arial, tahoma, verdana, sans-serif; }

header {  }
section {  }
aside {  }
footer {  }
p {  }